*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    background: url('../images/photo-1501594907352-04cda38ebc29.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: 'Chakra Petch', sans-serif;
    font-weight:900;
}
nav{
    background-color: deepskyblue;
    width: 100%;
    height: 80px;
}
 .logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding:0px 20px;
    font-weight: 600;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 10px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: capitalize;
    padding: 5px 15px;
    transition: 777ms all;
    -webkit-transition: 777ms all;
    -moz-transition: 777ms all;
    -ms-transition: 777ms all;
    -o-transition: 777ms all;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
a.active,a:hover{
    background-color: deeppink;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* @media (max-width:952px) {
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
} */
@media (max-width:990px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 777ms all;
        -webkit-transition: 777ms all;
        -moz-transition: 777ms all;
        -ms-transition: 777ms all;
        -o-transition: 777ms all;
}
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: deeppink
    }
    #check:checked ~ul{
        left: 0px;
    }
}